/* App.css or Home.css */
.btn-primary,
.btn {
  background-color: #FF7F50;
  border-color: #FF7F50;
  color: white;
}
.btn:hover {
  background-color: #ff5722;
  border-color: #ff5722;
   color: white;
}
